@using Videlo.Models.Database;

@model IEnumerable<Video>

@{
    ViewData["Title"] = "Video hosting";
}

<div class="row justify-content-center" id="videos-container">
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/home/ui/index-videos.js"></script>
    <script type="text/javascript" src="~/js/home/services/get-index-videos-request.js"></script>
}