@{
    ViewData["Title"] = "Upload Video Progress";
}

<h4>You can only upload 1 video at a time. Please wait for another video to upload...</h4>
<img class="img pe-none user-select-none" style="max-width: 5rem;" src="~/images/loading.gif" alt="loading" />